#wrap {
	width: 80%;
	margin: 0 auto;
}

.left {
	float: left;
}

#notification {
	font-style: italic;
	color: green;
	text-align: center;
	margin: 0;	
}

#msgbox {
	box-sizing: border-box;
	width: 70%;
}

#conversation {
	border: 1px solid #999;
	height: 400px;
	padding: 10px 10px 10px 20px;
	overflow: auto;
	width: 100%;
}

#users {
	float: left;
	width: 10%;
	height: 60%;
	padding: 10px;
	border: 1px solid #999;
}

#data {	
	width: 100%;
	float: left;
	margin-bottom: 15px;
	padding: 5px 10px;
}